
# SYSTEMD UNIT FILE FOR CROSSJOIN.

[Unit]
Description=CrossJoin Discord Bot (Python)
After=network.target syslog.target

[Service]
Type=simple
User=[user to run as]
WorkingDirectory=[path to directory containing CrossJoin_App.py]
ExecStart=/usr/bin/python3 [path to CrossJoin_App.py]
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=default.target
